header.main {
  @mixin clearfix;
  margin: 0 auto 0 auto;
  width: 90%;
  max-width: 1200px;

  div.logo {
    float: left;

    a.logo {
      display: inline-block;
      width: 300px;
      height: 120px;
      background: url(/assets/img/logo.png) center center no-repeat;
      background-size: contain;
      h1 { display: none; }
    }
  }

  nav.main {
    @mixin RalewayFont;
    float: right;

    ul {
      padding: 0 0 0 0;
      margin: 1.5 0 0 0;
      list-style-type: none;
      text-transform: uppercase;

      li {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        display: inline-block;
      }

      a {
        display: table-cell;
        background: black;
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 60px;
        vertical-align: middle;
        text-align: center;
        color: white;
        text-decoration: none;

        &:hover {
          background: #333;
        }

        &.active {
          background: red;
        }

        span {
          display: block;
        }
      }
    }
  }
}
