body.index {
  overflow: hidden;

  div.object {
    position: absolute;
    border-radius: 50%;
    border: none;
    z-index: 90;
  }
}

div.playground {
  width: 100%;
  min-height: 300px;
  cursor: crosshair;

  div.logo {
    width: 100%;
    min-height: 300px;
    margin: 10% auto 0 auto;
    background: url(/assets/img/landing_logo.png) no-repeat;
    background-size: contain;
    background-position: center center;

    @media (max-width: 700px) {
      display: none;
    }
  }
}
