/**
 * EarholeStudios.com
 * Author: Nicholas Young
 * Copyright 2015 Earhole Studios. All rights reserved.
 */

/**
 * Mixins
 */
@define-mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@define-mixin RalewayFont {
  font-family: Raleway;
  font-weight: 300;
}

@define-mixin OswaldFont {
  font-family: Oswald;
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

/**
 * General Styles
 */
@import 'vendor/normalize.css';

/**
 * Header
 */
@import 'elements/header.css';
@import 'elements/content.css';
