---
title: Reel
class: reel
data:
  reel: data/reel.js
---
{% block content %}
  <header class='masthead'>
    <div class='title'>
      <h2>
        <span>Reel</span>
      </h2>
    </div>
    <div class='copy'>
      <p>
        <span class='emphasis'>Check out the latest of what we've been up to.</span> Every year, Earhole produces hundreds of spots, each with it's own distinct personality. See how we can put our ingenuity to work for you.
      </p>
    </div>
  </header>

  <div class='videos'>
    {% for video in data.reel %}
      <div class='grid'>
        <div class='video'>
          <a href='http://youtube.com/watch?v={{video.id}}' rel='youtube' class='swipebox'>
            <div class='backdrop youtube-{{video.id}}'></div>
            <div class='overlay'>
              <h3>{{video.title}}</h3>
              <p>{{video.description | truncate(100)}}</p>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>

  <style type='text/css'>
    {% for video in data.reel %}
      div.backdrop.youtube-{{video.id}} {
        {% if video.images.maxres %}
          background: url({{video.images.maxres.url}});
        {% else %}
          background: url({{video.images.high.url}});
          background-position: 0px -45px;
        {% endif %}
        background-repeat: no-repeat;
        background-size: cover;
      }
    {% endfor %}
  </style>
{% endblock %}
