---
title: Reel
class: reel
data:
  reel: data/reel.js
---
{% block content %}
  <header class='masthead'>
    <div class='title'>
      <h2>
        <span>Reel</span>
      </h2>
    </div>
    <div class='copy'>
      <p>
        <span class='emphasis'>Check out the latest of what we've been up to.</span> Every year, Earhole produces hundreds of spots, each with it's own distinct personality. See how we can put our ingenuity to work for you.
      </p>
    </div>
  </header>

  <div class='videos'>
    {% for video in data.reel %}
      <div class='video'>
        <div class='thumbnail'>
          <a href='https://youtube.com/watch?v={{video.id}}'>
            <img src='{{video.images.high.url}}' />
          </a>
        </div>
        <div class='copy'>
          <a href='https://youtube.com/watch?v={{video.id}}'>
            <h3>{{video.title}}</h3>
            <p>{{video.description}}</p>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
